#header {
  margin: auto;
  width: 700px; }

#title-container {
  width: 420px; }

#menu {
  width: 280px;
  float: left; }
  #menu a {
    padding: 0 0 20px 0; }

#content {
  margin: auto;
  width: 700px;
  font-size: 1.5em;
  padding: 0 10; }

#logo {
  float: left; }

#title-text {
  float: right;
  text-align: center; }
  #title-text h1 {
    line-height: 0.3;
    margin-top: 25px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; }
  #title-text h3 {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: 2BB121; }

#title-end {
  float: clear; }
