%p
  As a guitarist/musician with a programming background, I initially gravitated towards audio technology. At Dolby Laboratories, I provided support to customers developing Dolby technologies and eventually progressed to being a major part of the engineering team that developed Dolby Digital Plus.
%p
  More recently, I decided to shift my technical focus towards the web, where I felt I could make a difference in helping to create a more just and sustainable society. I joined Radical Designs, a boutique web shop that primarily services nonprofits and social justice organizations. I helped develop and maintain one of our core web applications that enables clients to organize a large-scale national day of action around their issue.
