%p
  The purpose of this site is to share my thoughts along with
  some of the projects and teams I've had the pleasure of being 
  a part.
%p
  As a long time guitar player and computer enthusiast,
  I initially gravitated toward audio technology.
  I spent a number of years at Dolby Laboratories first in 
  a support role and then as a software developer where
  I worked with a large team to develop Dolby Digital Plus.
%p
  I'm currently a web developer at Radical Designs, building
  web applications that help nonprofits and social justice
  organizations more effectively mobilize their constituents.
%p
  This last year I worked with a small team using Ruby on Rails, 
  MySQL, git, and rspec to develop and maintain a number of 
  projects.  My focus has been on maintaining rEvent, one of 
  our core web apps which helps our clients organize a national 
  day of action.  
%p
  I successfully launched the following high profile sites:
%p
  %a{:href => "events.servicenation.org"}
    ServiceNation

  

  I started as a Licensing Engineer at Dolby Laboratories 
  helping licensees port Dolby technologies to a variety
  of platforms but soon became part of the software development
  team responsible for developing the next generation of 
  Dolby Digital, called Dolby Digital plus.  
  
  I explored the technical depths of Dolby 
  Digital, by far the most successful Dolby technology.
%p 
  More recently I've 
  the Technology Development Group at Dolby where I spent 
  four years

